ClienteCrud.Domain/bin/
ClienteCrud.Domain/obj/Debug/net5.0
ClienteCrud.Infra/bin/
ClienteCrud.Infra/obj/Debug/net5.0
ClienteCrud.UI/bin/
ClienteCrud.UI/obj/Debug/net5.0
ClienteCrud.Web/bin/
ClienteCrud.Web/obj/Debug/net5.0